::-webkit-input-placeholder{color:#d2d1d5}
::-moz-placeholder          {color:#d2d1d5}/* Firefox 19+ */
:-moz-placeholder           {color:#d2d1d5}/* Firefox 18- */
:-ms-input-placeholder      {color:#d2d1d5}


body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoLight", sans-serif;
	font-size: 16px;
	color: #413d4b;
}

header {
	background: url(../img/back_header.jpg) no-repeat ;
	background-size: cover; 
}

h1 {
	font-family: "PlayfairDisplay-Black";
	color: #fff;
	margin: 0 auto;
	text-align: center;
	font-size:32px;
	transition: 1s;
	opacity: 1;
}

h2 {
	padding: 0;
	padding-bottom: 10px;
	margin:0;
	font-family: "PlayfairDisplay-Bold";
	font-size: 22px;
}

h3{
	font-family: "RobotoBlack", sans-serif;
	font-size: 14px;
	padding: 0;
	padding-bottom: 15px;
	margin:0;
}

.main_button{
	font-family: "HammersmithOne-Regular",sans-serif;
	margin: 0 auto;
	background-color: transparent;
	border: 1px solid #00e0d0;
	border-radius: 2px;
	color: #00e0d0;
	display: block;
	font-size: 16px;
	height: 40px;
	min-width: 120px;
	transition: 0.3s;
	padding: 0 12px;
}
header .main_button{
	margin-top: 50px;
}


.main_button:active{
	background-color: rgba(20, 247, 107, 0.3);
}

hr {
	width: 56px;
	background-color: #00e0d0;
	border:none;
	height: 2px;
	margin: 25px auto;
}

.container-fluid{
	padding: 0px;
}

.navbar-nav>li>a{
	padding-top: 20px;
	font-family: "RobotoBlack", sans-serif;
	color: #fff;
	font-size: 13px;
}


.navbar-nav>li>a:hover{
	color: #00e0d0;
	background-color: transparent;

}


.navbar-nav>li>a:focus{
	color: #00e0d0;
	background-color: transparent;
}

.navbar-brand {
	height: 100%;
}

.icon-bar{
	background-color: #fff;
}

.navbar-toggle {
	border-color: #fff;
}

.header_main{
	padding-top: 170px;
}



.header_main p {
	
	margin: 0 auto;
	max-width: 780px;
	text-align: center;
	color:white;
	font-size:14px;
}



.header_button-panel{
	margin-top: 120px;
	margin:120px auto 65px auto;
	width: 80px;
	cursor: pointer;
}	

.header_button-panel button {
	border: 2px solid #fff;
	border-radius: 8px;
	background-color:transparent;
	height: 16px;
	width: 16px;
	outline: none;
}

.header_button-panel .active{
 	background-color: #00e0d0;
 	border-color: #00e0d0;
}

.about{
	padding-top: 65px;
}

.about img{
	
	display: block;
	margin: 0 auto;
}

.about h2 {
	float: left;
	padding-bottom: 25px;
}

.about p {
	max-width: 510px;
	font-size: 14px;
	padding: 0px;
	clear: both;
}

.about .main_button{
	float: left;
	margin-top: 30px;
	margin-bottom: 70px;
}

.about .video{
	padding-top: 200px;
	background: url(../img/about_back.jpg) no-repeat;
	background-size: cover;
	height: 550px;
}
.about .video img{
	cursor: pointer;
	transition: 0.3s;
} 

.about .video img:active{
	transform: scale(1.2);


} 	

.about .video p {
	margin: 32px auto 0px auto;
	text-align: center;	
	color: 	#fff;
	font-size: 	16px;
	font-family: "RobotoBlack", sans-serif;
}

.expertise{
	padding: 70px 0;
	text-align: center;
}

.expertise img{
	padding: 35px 0;
}

.expertise p{
	font-family: "PlayfairDisplay-Regular";
	font-size: 14px;
	width: 250px;
	margin: 0 auto;
}

.expertise hr{
	background-color: #c6c4c9;
}

.expertise_blocks{
	margin-top: 52px;
}

.expertise_border{
	height: 250px;
}

.expertise_border:nth-child(1) {
	border-bottom: 1px solid #ebebeb;
}

.expertise_border:nth-child(2) {
	border-bottom: 1px solid #ebebeb;
	border-left: 1px solid #ebebeb;
	border-right: 1px solid #ebebeb;
}

.expertise_border:nth-child(3) {
	border-bottom: 1px solid #ebebeb;
}

.expertise_border:nth-child(5) {
	border-right: 1px solid #ebebeb;
	border-left: 1px solid #ebebeb;
}

.team{
	padding: 65px 0;
	background: url(../img/team_back.jpg) no-repeat;
	background-size: cover;
	color: #f9f9f9;
	text-align: center;
	margin: 0 auto;
}

.team h2 {
	color: #fff;
}

.team hr {
	background-color: #655c80;
}

.expertise p{
	font-family: "PlayfairDisplay-Regular";
	font-size: 14px;
	width: 250px;
	margin: 0 auto;
}

.team_blocks{
	max-width: 960px;
	margin:0 auto;
}

.team_col{
	padding: 2px;
}

.team_block-elem{
	border: 1px solid #7b788d;
	margin:0 auto;
	max-width: 220px;
	margin-bottom: 5px;
	
}

.team_block-elem div{
	height: 230px;
	background-color: #f4f4f6;
}

.team_text-top{
	padding-top: 20px;
	padding-bottom: 0px;
	margin:0px;
	font-size: 	14px;
	font-family: "RobotoBlack", sans-serif;
	
}

.team_text-bottom{
	margin:0px;	
	font-size: 13px;
	color: #9a98a9;
	padding-top: 10px;
	padding-bottom: 20px;
}

.team_blocks>p{
	font-size: 14px;
	color:#d6d5db;
	display: inline-block;
	margin-top: 70px;
}
.team_blocks button{
	margin-top: 25px;
}

.works{
	padding: 70px 0;
}

.works h2{
	float: left;
}

.works p{
	float: right;
	font-size: 14px;
	color:#5a5763;
}

.works .container {
	padding-bottom: 70px;
}

.works_img{
	height: 200px;
}

.works_img:nth-child(1), .works_img:nth-child(5),.works_img:nth-child(8),.works_img:nth-child(12){
	background-color: #b6b6b6;
}

.works_img:nth-child(2), .works_img:nth-child(11){
	background-color: #acacac;
}

.works_img:nth-child(3), .works_img:nth-child(10){
	background-color: #a1a1a1;
}
.works_img:nth-child(4), .works_img:nth-child(9){
	background-color: #8a8a8a;
}

.works_img:nth-child(6), .works_img:nth-child(7){
	background-color: #a4a4a4;
}

.works button{
	margin-top: 75px;
}

.people_say{
	padding: 65px 0;
	background: url(../img/people_say_back.jpg) no-repeat;
	background-size: cover;
	color: #ebeaef;
	text-align: center;
	margin: 0 auto;
}

.people_say p{
	font-family: "PlayfairDisplay-Regular";
	color:#e1dfe6;
	padding: 45px 0;
	max-width: 740px;
	margin: 0 auto;
}

.people_say span {
	display: inline-block;
	padding: 3px;
}

.people_say_name{
	font-size: 14px;
	font-family: "RobotoBlack", sans-serif;
	color: #fff;
}

.people_say_second-name{
	font-size: 13px;
}

.people_say_carousel{
	padding-top: 40px;
}

.people_say_carousel i {
	cursor: pointer;
 	padding: 0px 20px;
}

.people_say_carousel img{
	padding: 0px 5px 20px 5px;
}


.contact{
	padding: 70px 0;
}

.contact h2{
	padding-bottom: 35px;
}

.contact button{
	float: left;
	clear:both;
}


input, textarea {
	width: 90%;
	margin-bottom: 25px;
	border: 1px solid #e5e5e5;
	padding-left: 20px;
}

input{
	height: 45px;
}
 textarea {
 	padding-top: 5px;
 	resize: none;
 	float: left;
 }

.contact img {
	padding-top: 10px;
}

footer{
	padding: 65px 0;
	background: url(../img/footer_back.jpg) no-repeat;
	background-size: cover;
}

footer p {
	font-size: 14px;
	color:#fff;
}

.footer_logo{
	padding-bottom: 25px;
}


footer .people_say_name{
	padding-top: 15px;
	display: block;
	padding-bottom: 35px;
}

.map {
	float:left;
}

.studio p{
	padding-left: 10px;
	
    float: left;
}

.footer_text2{
	width: 260px;
}

footer input {
	background-color: transparent;
	width: 73%;
	padding-left: 15px;
	float: left;
}

.footer_button{
	background: url('../img/footer_btn.png');
	background-size: cover;
	width: 70px;
	height: 45px;
	float: left;
	margin-left: 6px;
	border: none;
}

.footer_social{
	float: left;
}

.footer_social img{
	padding-right: 4px;

}

.copy{
	padding-top: 65px;
}

.copy span{
	font-size: 14px;
	font-family: "RobotoRegular";
	color:#fff;
}

.copy span:nth-child(1){
	padding-right: 35px;
}

.copy span:nth-child(2){
	padding-right: 35px;
}

.copy span:nth-child(4){
	float: right;
	
}




    







