/* Base Begin */ 

*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}


body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	min-width: 320px;
	font-family: "ClearSansRegular";
	font-size: 18px;
	text-align: center;
	margin: 0 auto;
}

h1 {
	margin:0px;
	padding: 0px;
	font-size: 44px;
	color:white;
	font-family: "ClearSansBold", sans-serif;
	padding-bottom: 180px;
	text-transform: uppercase;
}

h2 {
	margin-top:50px;
	font-size: 36px;
	text-align: center;
	color: #656565;
}

h3 {
	margin:0;
	
	font-size: 24px;
	color:#656565;
}

h4{
	font-size: 20px;
	color:#656565;
	
}

button {
	margin: 5px 0;
	font-size: 29px;
	color:white;
	background-color: #58b4f4;
	border:none;
	padding: 5px 50px 8px 50px;
	border-radius: 30px;
	border:none;
	outline: none;
}

button:hover {
	background-color: #308cca;	
}

.button {
	display: block;
    width: 294px;
    margin: 0 auto;
	text-decoration: none;
	font-size: 29px;
	color:white;
	background-color: #58b4f4;
	padding: 5px 50px 8px 50px;
	border-radius: 30px;
}

.button:hover {
	color:white;
	text-decoration: none;
	background-color: #308cca;	
}
.button:focus{
	color:white;
	text-decoration: none;
	
}



input {outline:none;}
textarea {outline:none;}

textarea {
	width: 100%;
	border: 1px solid white;
	border-radius: 15px;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	padding: 5px;
	margin: 5px;
	color:rgba(255, 255, 255, 0.8);
	padding-left: 20px;
}

textarea:focus{
	background-color: rgba(0, 0, 0, 0.4);
}

.lines {
	color: #dbdbdb;
}

/* .hide{
	display: none;
} */ 


/* Base End */ 





/* Top Begin */ 

.top-header {
 background: url(../img/bg1.jpg) no-repeat center top / cover;
 color: rgba(255, 255, 255, 0.8);
}
.top-header  h1{
	color: rgba(255, 255, 255, 0.8);
}

.top-header__tel{
	font-size: 40px;
}

.navbar-brand {
	margin-top: 15px;
	padding-top: 10px;
	font-size: 28px;	
}


.navbar-toggle {
	border: 1px solid white;
	margin-top: 20px;
}

.icon-bar {
	background-color: white;
}

.navbar-right {
	margin-top: 15px;
	font-size: 18px;
	
}

.navbar-right>li {
	padding-right: 10px;
}


.navbar-right li a {
	padding-top:  10px;
	padding-bottom: 10px;
	color: rgba(255, 255, 255, 0.8);
	border-radius: 50px;
}
.navbar-right li a:hover {
	color:white;
	background-color: transparent;
	border: 1px solid ;
	border-radius: 50px;
}
.navbar-right li a:active {
	color:black;
	background-color: white;
	border: 1px solid ;
	border-radius: 50px;
}
.navbar-right li a:focus{
	color:white;
	background-color: transparent;
}


.top-header__title {
	padding: 250px 0 175px 0;
}

.top-header__p1 {
	padding: 10px 0 65px 0;
	color:#58b4f4;
	font-weight: bold;
}

.top-header__p2 {
	width: 60%;
	margin:0 auto;
}

/* Base End */ 






/* Section-one Begin */ 
.section-one {
	color: #707070;
	padding-bottom: 70px;
	background-color: #f2f2f2; 
}

.section-one h3 {
    padding-left: 80px;
}

.section-one__h2-span{
	color:#714f97;
}

.section-one__module_left{
	padding-top: 20%;
}

.section-one__module_img, .section-one__text{
	float:left;
	
}

.section-one__text.border, .section-one__top-p{
	background: url(../img/line.jpg) repeat-y 0%;
}

.section-one__text{
	text-align: left;
}

.section-one__text h3{
	color: #562487;
	padding-top: 10px;
	padding-bottom: 10px;
}
.section-one__text p {
	padding: 20px 20px;
	margin:0;
}

.section-one__text_top{
	margin-top: -25px;
}


/* Section-one End */ 





/* Section-two Begin */ 
.section-two {
	color: #707070;
	padding-bottom: 70px;
	
}

.section-two h3{
	padding-right: 80px;
	color: #707070;
}


.section-two__title-text {
	padding-bottom: 60px;
}

.section-two__h2{
	padding-bottom: 60px;
}

.section-two__h2-span{
	color:#484a7b;
}

.section-two__module_left{
	padding-top: 30%;
}

.section-two__module_img, .section-two__text{
	float:right;
	
}

.section-two__text.border, .section-two__top-p{
	background: url(../img/line.jpg) repeat-y 100%;
}

.section-two__text{
	text-align: right;
}

.section-two__text h3{
	color: #484a7c;
	padding-top: 10px;
	padding-bottom: 10px;
}
.section-two__text p {
	padding: 20px 20px;
	margin:0;
}

.section-two__text_top{
	margin-top: -25px;
}

.span-blue {
	color: #58b4f4;
}

		/* Section-two End */ 








		/* Section-three Begin */ 

.section-three{
	background: url(../img/bg2.jpg) no-repeat center top / cover;
	background-attachment: fixed;
	color: rgba(255, 255, 255, 0.8);
	padding-bottom: 40px;
}

.section-three__h2{
	padding-bottom: 20px;
	color: 	rgba(255, 255, 255, 0.8);
}



.section-three__p{
	color:#58b4f4;
}

#form{
	color:black;
	background-color: transparent;
}
#form input{
	background-color: rgba(0, 0, 0, 0.2);
	border: 1px solid white;
	border-radius: 15px;
	padding: 5px;
	margin: 5px;
	padding-left: 20px;
	width: 100%;
	color: rgba(255, 255, 255, 0.8);
}

.section-three_input_text{
	height: 170px;
}

#form input:focus{
	background-color: rgba(0, 0, 0, 0.4);;
}



::-webkit-input-placeholder {color:rgba(255, 255, 255, 0.4);}
::-moz-placeholder          {color:rgba(255, 255, 255, 0.4);}/* Firefox 19+ */
:-moz-placeholder           {color:rgba(255, 255, 255, 0.4);}/* Firefox 18- */
:-ms-input-placeholder      {color:rgba(255, 255, 255, 0.4);}
			/* Section-three End */ 






			/* Section-four Begin */ 	
.section-four{
	padding-bottom: 70px;
}

.section-four__module{
	padding-top: 70px;
}

.section-four h3{
	padding-top: 60px;
	font-size: 36px;
	font-weight: bold;
}

.section-four__content-module{
	width: 270px;
	background-color: #f2f2f2;
	padding: 10px;
	margin: 0 auto;
	height: 130px;
	
}
.section-four__img{
	float: none ;
    padding-bottom: 20px;
}

.section-four__text-module {
	float: none;
	text-align: center;
	font-size: 14px;	
	color:#8d8c8c;
}
			/* Section-four End */ 








			/* Section-five Begin */ 

.section-five {
	text-align: left;
	background-color: #f2f2f2;
	padding:30px 0;
	font-size: 25px;
	color: #676767;	
}
.section-five .button {
	margin-top: 20px;
}

			/* Section-five End */ 





			/* Footer Begin */ 			
.bottom-footer{
	background: url(../img/bg_f.jpg) no-repeat center top / cover;
	color: rgba(255, 255, 255, 0.8);
	padding: 30px 0;
}


.bottom-footer__left-module {
	padding-top: 20px;
	font-size: 30px;	
}

.bottom-footer__right-module {
	font-size: 18px;
	text-align:justify;
	width: 360px;
	float:right;
}

			/* Footer End */