/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.bottom-footer__p {
	font-size: 22px;
	}
	.section-one__module_left, .section-two__module_right{
		width: 80%;
	}
	.section-five{
		font-size: 20px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.navbar-right{
		font-size: 15px;
	}
	.top-header__title{
		padding: 200px 0 500px 0;
	}
	h1{
		font-size: 40px;
	}
	.section-five {
		text-align: center;
	}

	.section-one__module_left, .section-two__module_right{
		padding-top: 0;
	}
	
	.navbar-brand {
    	font-size: 25px;
	}

	.section-two__module_right{
		display: none;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.top-header__title{
		padding: 100px 0 300px 0;
	}
	h1{
		font-size: 30px;
		padding-bottom: 80px;
	}
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    	margin-left: 10px;
	}
	.desktop.hover_animation{
		display: none;
	}
	.bottom-footer__right-module {
		width: 100%;
	}
	.top-header__p1 {
		padding: 10px 0 30px 0;
	}
	.top-header__p2 {
		width: 90%;
	}

}
@media only screen and (max-width : 600px) {
	.top-header__title{
		padding: 50px 0 100px 0;
	}

	.section-one__module_left, .section-two__module_right{
		width: 100%;
		margin: 0 auto;
		padding-bottom: 40px;
	}
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	.navbar-brand {
		height: auto;
		
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 769px) {
	.mobi{
		display: none !important;
	}
}

@media only screen and (min-width : 768px) {
	.navbar-right {
    	height: 50px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.section-two__module-text {
		text-align: left;
		width: 260px;
		margin-left: 20%;
	}

	.bottom-footer__left-module {
		text-align: left;	
	}
		.section-one__title-text {
		padding-bottom: 60px;
	}

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
}